/Proyecto1/nbproject/private/
/Proyecto1/build/
/Proyecto6/nbproject/private/
/Proyecto6/build/
/Proyect6/nbproject/private/
/Proyect6/build/
/Proyecto_grupo6/nbproject/private/
/Proyecto_grupo6/build/
/Sistema-venta-java-v1-main/Sistema-venta-java-v1-main/dist/